---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Sanjeevani Cos Derma - Best Hair Transplant Clinic in Bengaluru | Rajajinagar, Bangalore"
  description="Premier hair transplant & skin clinic in Bengaluru. Advanced FUE, Pen-Implanter hair transplant, laser hair removal, GFC, PRP, HydraFacial & chemical peel treatments. Book free consultation today!"
  keywords="hair transplant bengaluru, hair transplant in bengaluru, best hair transplant in bengaluru, hair transplant cost in bengaluru, laser hair removal bengaluru, gfc hair treatment bengaluru, prp hair treatment bengaluru, chemical peel bengaluru, hydrafacial bengaluru, hair clinic bengaluru, FUE hair transplant bengaluru, skin treatments bengaluru, dermatologist bengaluru"
>
  <Header />
  <main id="main-content" role="main">
    <Hero />
    <Services />
    <WhyChooseUs />
    <Testimonials />
    <CTA />
  </main>
  <Footer />
</Layout>